<!-- This generates the media icons for project pages -->
<!-- How to use: {include icons.html paper=# supplementary=# arXiv=# code=# dataset=#} -->

<div class="icons">
    {% if include.paper %}
        <a class="btn btn-outline-info icon-item" href="{{include.paper}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/pdf.svg"/>
            <h6>Paper</h6>
        </a>
    {% endif %}
    {% if include.supplementary %}
        <a class="btn btn-outline-info icon-item" href="{{include.supplementary}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/paper.svg"/>
            <h6>Supplementary</h6>
        </a>
    {% endif %}
    {% if include.arXiv %}
        <a class="btn btn-outline-info icon-item" href="{{include.supplementary}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/paper.svg"/>
            <h6>arXiv</h6>
        </a>
    {% endif %}
    {% if include.code %}
        <a class="btn btn-outline-info icon-item" href="{{include.code}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/code.svg"/>
            <h6>Code</h6>
        </a>
    {% endif %}
    {% if include.dataset %}
        <a class="btn btn-outline-info icon-item" href="{{include.dataset}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/data.svg"/>
            <h6>Dataset</h6>
        </a>
    {% endif %}
    {% if include.demo %}
        <a class="btn btn-outline-info icon-item" href="{{include.demo}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/data.svg"/>
            <h6>Demo</h6>
        </a>
    {% endif %}
    {% if include.codecoming %}
        <a class="btn btn-outline-info icon-item" href="{{include.code}}">
            <img class="icon-svg" src="/assets/images/icons/material-ui/code.svg"/>
            <h6>Code (Coming Soon)</h6>
        </a>
    {% endif %}
</div>