@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto&family=Titillium+Web&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    p, li {
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    .container {
        width: 60%;
    }

    p, li {
        font-size: 16px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
    .container {
        width: 50%;
    }

    p, li {
        font-size: 18px;
    }
}

.container.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 0.5rem;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    background-color: rgb(61, 62, 61);

    .navbar-brand {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .navbar-logo {
        max-height: 48px;
        margin-right: 0.5rem;
    }

    .nav-link {
        color: white !important; 
    }
    
    .nav-link:hover {
        font-weight: 600;
    }
}

a { 
    color: #987373; 
    text-decoration: none;
} 

p {
    line-height: 150%;
}

ul {
    p {
        margin-bottom: 0.5rem;
    }
}

.alert.alert-info {
    font-size: 18px;
}

.page-title {
    font-size: 48px;
    margin-bottom: 1.5rem;
}

.home-split-div {

    margin-top: 1rem;
    // margin-bottom: 1rem;

    .team-image-div {
        display: inline-block;
        width: 320px;
        height: 180px;
        padding-bottom: 1rem;
    
        .group-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
    }

    .intro-text {
        display: inline-block;
    }

}

li > p > strong > em { // only apply styling in updates section
    background-color: #49d7f3;
    border-radius: 15px;
    padding: 0px 8px;
    font-style: normal;
}

