@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto&family=Titillium+Web&display=swap');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    p, li {
        font-size: 18px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
    }

    p, li {
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
    .container {
        width: 60%;
    }

    p, li {
        font-size: 20px;
    }
}

.container.content {
    margin-top: 2rem;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.active {
    font-weight: bold;
}

.navbar {
    padding: 1rem;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 

    .navbar-brand {
        font-size: 30px;
    }
}

a { 
    color: #987373; 
    text-decoration: none;
} 

p {
    line-height: 150%;
}

ul {
    p {
        margin-bottom: 0;
    }
}

.alert.alert-info {
    font-size: 18px;
}