.container.content {
    margin-top: 2rem;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.current {
    font-weight: bold;
}

.navbar {
    padding: 1rem;
    font-size: larger;
}

a { 
    color: #987373; 
    text-decoration: none;
} 