body {
    font-family: 'Titillium Web' , sans-serif;
}

.people-category {
    display: flex;
    // justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .person-item {
        width: 200px;
        height: 275px;
        text-align: center;
        margin: 0.5rem;
        padding-left: 0px;
        padding-right: 0px;

        .people-info {
            padding-top: 0.5rem;

            .card-title {
                font-size: 20px;
            }
    
            .cart-text {
                font-size: 18px;
            }
        }

        .img-fluid {
            border-radius: 50%;
            width: 180px;
            height: 180px;
        }
    }

    // .pi-about {
    //     .pi-image {
    //         margin-right: 1rem;
    //         .img-fluid {
    //             border-radius: 50%;
    //         }
    //     }

    //     .pi-body {
    //         padding: 2rem;
    //         .bio {
    //             margin: 1rem 0rem;
    //             line-height: 150%;
    //         }
    //     }
    // }
}

