.people-category {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-item {
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 0.5rem;
}

.person-image {
    object-fit: cover;
    margin-bottom: 0.5rem;
}