
.research-item {
    display: flex;
    width: 18rem;
    margin: 1rem;
    padding-left: 0px;
    padding-right: 0px;

    .research-journal {
        font-weight: bold;
    }
}

.search-div {
    margin-top: 1rem;
    /* center the search bar */
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 24rem;
}