
.research-item {
    overflow: hidden;
    height: auto;
    min-height: 150px;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 15px;
    background-color: #f8f7f7;

    .img-div-research {
        max-width: 10rem;
        float: left;
        margin: 1rem;

        .img-fluid {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
      }

    
    .content-div-research {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title-div {
        padding-top: 1rem;
     }

    .research-journal {
        font-weight: bold;
    }

    .research-resources {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0.25rem;
        
        h6 {
            margin-right: 0.25rem;
        }
    }

    .research-year-div {
        text-align: right;

        .research-year {
            font-weight: 800;
            font-size: 18px;
        }
    }
}

.search-div {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    // justify-content: center;
    margin-bottom: 2rem;

    .publications-search {
        width: 24rem;
        margin-right: 1rem;
    }
}

.research-icon {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.tt {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
  }