
.teaching-card {
    height: auto;
    overflow: hidden;
    min-height: 150px;
    margin-bottom: 1rem;

    .img-div-teaching {
        width: 10rem;
        float: left;
        margin: 1rem;
    }

    .img-fluid {
        object-fit: cover;
    }
}